<%= render 'layouts/header' %>
<%= render 'layouts/navbar' %>
<center>
  <h1><%= link_to 'list des publications' %></h1>
</center>
<center>
  
<%= form_tag publications_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "recherche" %>
<% end %>

</center>
<%= link_to 'New Publication', new_publication_path %>
<center>
  <fieldset style="width: 30rem;">
  <% @publications.each do |publication| %>
    <div class="card">
      <div class="card-header">
        <h1><%= publication.titre %></h1>
      </div>
      <div class="card-body">
        <h3 class="card-title"><%= publication.contenue %></h3>
        <fieldset><%= image_tag publication.image_url %></fieldset>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <fieldset>
        <a href="/comments/new" class="btn btn-primary">commenter la publication</a>
        </fieldset>
        <fieldset>
          <label>
            list des commentaires:
          </label>
          <h2><%= publication.comment_id %></h2>
        </fieldset>
      </div>
    </div>

  <% end %>
<hr>  
  </fieldset>
</center>  
<%= render 'layouts/footer' %>