<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @publication.titre %>
</p>

<p>
  <strong>Contenue:</strong>
  <%= @publication.contenue %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
